@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=News+Cycle:wght@400;700&family=Noto+Sans+Thai+Looped:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    padding: 0;
    margin: 0;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px 10px;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 110%;
    font-family: "Noto Sans Thai Looped", sans-serif;
}

nav a:visited {
    color: black;
}

nav a:hover {
    /* background-color: #4C71A7;
    color: white; */
    color: #4C71A7;
}


#logo {
    /* margin-right: 80px; */
    padding-left: 0;
    margin-left: 0;
    padding-right: 150px;
    font: 800 250% "News Cycle", sans-serif;   
    color: #4C71A7;
}

/* MAIN */
#bottom {
    display: flex;
    flex-direction: row;
}

#left-side {
    background-color: #6e88af;
    width: 32%;
    position: sticky;
}



#lower-main {
    width: 40%;
    margin: auto;
    margin-left: 8%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#lower-main p {
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-size: 115%;
}

#lower-main h3 {
    font-family: "Noto Sans Thai Looped", sans-serif;
    color: #4C71A7;
    font-size: 190%;
    margin-bottom: 1%;
}

#lower-main h4 {
    font-family: "Noto Sans Thai Looped", sans-serif;
}

#projects, #experiences, #about-me {
    padding-bottom: 20%;
}

.section { 
    margin-bottom: 10%;
}

/* INTRO */
#intro {
    padding-top: 5%;
    width: 90%;
    font-size: 400%;
    font-weight: 300;
    margin: auto;
    font-family: "Inter";
}

#name {
    color: #3D5D8D;
}

#front-end {
    color: #3D5D8D;
    font-family: "Space Mono", monospace;
}

#based {
    color: #949494;
    font-size: 60%;
    margin-top: 1%;
    margin-bottom: 8%;
    letter-spacing: 1px;
}

hr {
    width: 32%;
    height: 2px;
    border: none;
    color: #6e88af;
    background-color: #6e88af;
}

/* ABOUT ME */

/* PROJECTS */
.proj-images {
    width: 100%;
    margin-bottom: 1%;
}

#projects h4 { 
    font-size: 115%;
}

button {
    display: inline-block;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-bottom: 1%;
    border-radius: 20px;
    padding: 1.5% 4%;
    /* border:transparent;
    background-color: #a6b9d5; */
    border: #3D5D8D solid 1.5px;
    color: #3D5D8D;
    background-color: transparent;
}

button > img,
button > span {
  vertical-align: middle;
}

button:hover {
    cursor: pointer;
    background-color: #3D5D8D;
    color: white;
    transition: 0.8s;
}

button span {
    font: 700 110% "Noto  Sans Thai Looped", sans-serif;
    text-transform: uppercase;
    /* color: white; */
}

button img {
    width: 3.5%;
    padding-right: 1%;
}

/* EXPERIENCES */
#experiences ul li {
    font: 115% "Noto Sans Thai Looped", sans-serif;
}

#experiences ul {
    padding-left: 10%;
}

.location {
    color: rgb(104, 104, 104);
    font-size: 70%;
    line-height: 1.3;
}

.date {
    font-style: italic;
    font-size: 70px;
    line-height: 1.3;

}

#experiences h4 {
    font-size: 115%;
}


/* FOOTER */

