@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=News+Cycle:wght@400;700&family=Noto+Sans+Thai+Looped:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    padding: 0;
    margin: 0;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px 10px;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 110%;
    font-family: "Noto Sans Thai Looped", sans-serif;
}

nav a:hover {
    color: #4C71A7;
}

nav a:visited {
    color: black;
}

#logo {
    /* margin-right: 80px; */
    padding-left: 0;
    margin-left: 0;
    padding-right: 100px;
    font-size: 200%;
    font-family: "News Cycle", sans-serif;
}

/* MAIN */
#lower-main {
    width: 40%;
    margin: auto;
    margin-left: 40%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#lower-main p {
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-size: 115%;
}

#lower-main h3 {
    font-family: "Noto Sans Thai Looped", sans-serif;
    color: #4C71A7;
    font-size: 190%;
    margin-bottom: 1%;
}

#lower-main h4 {
    font-family: "Noto Sans Thai Looped", sans-serif;
}

#projects, #experiences, #about-me {
    padding-bottom: 20%;
}

.section { 
    margin-bottom: 10%;
}


button {
    display: inline-block;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 1%;
    border-radius: 20px;
    padding: 2.5% 5%;
    border:transparent;
    background-color: #a6b9d5;
}

button > img,
button > span {
  vertical-align: middle;
}

button:hover {
    cursor: pointer;
}

button span {
    font-family: "Noto Sans Thai Looped", sans-serif;
}

/* INTRO */
#intro {
    padding-top: 5%;
    width: 90%;
    font-size: 400%;
    font-weight: 300;
    margin: auto;
    font-family: "Inter";
}

#name {
    color: #3D5D8D;
}

#front-end {
    color: #3D5D8D;
    font-family: "Space Mono", monospace;
}

#based {
    color: #949494;
    font-size: 60%;
    margin-top: 1%;
    margin-bottom: 8%;
    letter-spacing: 1px;
}

hr {
    width: 32%;
    height: 2px;
    border: none;
    color: #3D5D8D;
    background-color: #3D5D8D;
}

/* ABOUT ME */

/* PROJECTS */
.proj-images {
    width: 80%;
}

#projects a {
    font-family: "Noto Sans Thai Looped", sans-serif;
}

#projects h4 { 
    font-size: 115%;
}


/* EXPERIENCES */
#experiences ul li {
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-size: 115%;
}

#experiences ul {
    padding-left: 10%;
}

.location {
    color: rgb(104, 104, 104);
    font-size: 70%;
    line-height: 1.3;
}

.date {
    font-style: italic;
    font-size: 70px;
    line-height: 1.3;

}

#experiences h4 {
    font-size: 115%;
}


/* FOOTER */

